#logo-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    white-space: nowrap;
}

#logo-container:hover{
    cursor: pointer;
}

#logo-container > div{
    width: 100%;
}

#logo-title{
    font-size: 38pt;
    line-height: 78%;
}
#logo-slogan{
    text-transform: uppercase;
    font-size: 20pt;
    line-height: 90%;
    color: var(--color-sec-light)
}