.discussion-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.discussion-overview-info-container{
    display: flex;
    align-items: center;
    align-content: space-between;
    flex-direction: row;
    width: 100%;
    padding-top: calc(var(--basic-padding) * 0.5);
}