#home-container{
  width: 80%;
  max-width: 700px;
  height: 100%;

  /* offset for footer height to center div */
  margin-bottom: calc(var(--header-height) - var(--footer-height));

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  /*Align self in center of main container */
  align-self: center;
}
