:root{
  --color-main-dark: #46515D;
  --color-main-medium: #6F7F92;
  --color-main-light: #B9C1CA;
  --color-attention: #A79576;
  --color-sec-dark: #666666;
  --color-sec-medium: #7F7F7F;
  --color-sec-light: #C2C2C2;
  --color-background: #F9F9F9;
  --color-background-opaque: rgba(0, 0, 0, 0.7);
  --color-white: white;
  --color-black: black;
  --font: Arial;
  --header-height: 120pt;
  --footer-height: 40pt;
  --border-light: solid var(--border-width) var(--color-sec-light);
  --border-width: 1px;
  --border-radius: 5px;
  --basic-height: 40pt;
  --basic-padding: 12pt;
  --basic-max-width: 1200pt;
}

/* Global settings */
*{
  font-family: var(--font);
}

/* Text markups */
.text-headline{
  width: 100%;
  font-size: 48pt;
  font-weight: bolder;
  color: var(--color-main-dark);
  letter-spacing: calc(40em / 1000);
  text-transform: uppercase;
  line-height: 50pt;
  white-space: nowrap;
  text-align: left;
  text-decoration: none;
}

.text-title{
  width: 100%;
  font-size: 28pt;
  font-weight: bold;
  color: var(--color-sec-medium);
  letter-spacing: 0;
  line-height: 40pt;
  word-wrap: break-word;
  white-space: pre-line;
  text-align: left;
  text-decoration: none;
}

.text-subheader{
  width: 100%;
  font-size: 20pt;
  font-weight: normal;
  color: var(--color-sec-medium);
  letter-spacing: 0;
  line-height: 30pt;
  word-wrap: break-word;
  white-space: pre-line;
  text-align: left;
  text-decoration: none;
}

.text-quote{
  width: 100%;
  font-family: "Segoe UI";
  font-size: 20pt;
  font-weight: normal;
  color: var(--color-sec-medium);
  letter-spacing: 0;
  line-height: 35pt;
  text-align: center;
  text-decoration: none;
  font-style: italic;
  word-wrap: break-word;
  white-space: pre-line;
}

.text-body-large{
  width: 100%;
  font-size: 14pt;
  font-weight: bolder;
  color: var(--color-sec-medium);
  letter-spacing: 0;
  line-height: 16pt;
  word-wrap: break-word;
  white-space: pre-line;
  text-align: left;
  text-decoration: none;
}

.text-body{
  width: 100%;
  font-size: 14pt;
  font-weight: normal;
  color: var(--color-sec-medium);
  letter-spacing: 0;
  line-height: 16pt;
  text-align: left;
  text-decoration: none;
  word-wrap: break-word;
  white-space: pre-line;
}

.text-body-secondary{
  width: 100%;
  font-size: 14pt;
  font-weight: normal;
  color: var(--color-sec-light);
  letter-spacing: 0;
  line-height: 14pt;
  text-align: left;
  text-decoration: none;
  word-wrap: break-word;
  white-space: pre-line;
}

.text-button{
  width: 100%;
  font-size: 10pt;
  font-weight: bolder;
  color: var(--color-sec-medium);
  letter-spacing: 0;
  line-height: 12pt;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
}

.text-title:first-letter, .text-subheader:first-letter, .text-body-large:first-letter{
  text-transform: capitalize;
}

.text-attention{
  color: var(--color-attention);
}

html, #root{
  background-color: var(--color-background);
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/** Page content **/
header{
  width: 100%;
  height: var(--header-height);
  border-bottom: var(--border-light);
  background-color: var(--color-background);
}

footer{
  width: 100%;
  height: var(--footer-height);
  border-top: var(--border-light);
  background-color: var(--color-background);
}

#content-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.padding-item{
  flex-basis: 40px;
}

.center{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}