#create-post-card {
  height: 40vh;
  width: 60vw;
  position: absolute;
  margin-top: 20vh;
  margin-left: 30vh;
}
.item {
  margin-top: 5vh;
  margin-bottom: 2vh;
}
.show {
  display: block;
}
.no-show {
  display: none;
}
