#create-post-card {
  height: 40vh;
  width: 40vw;
  position: absolute;
  margin-top: 10vh;
  margin-left: 60vh;
}
.item {
  margin-top: 5vh;
  margin-bottom: 2vh;
}
.show {
  display: block;
}
.no-show {
  display: none;
}
.close-button {
  float: right;
}
.title {
  font-size: larger;
}
