#post-list {
  list-style: none;
}
.post-list-item {
  margin-top: 2vh;
  border-bottom: darkgrey solid;
  background-color: lightgrey;
}
.subject {
  font-size: large;
}
.username {
  float: right;
  margin-right: 2vw;
}
