.discussion-info-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.discussion-info-container > div{
    padding: 5px 15px 5px 15px;
    border-right: #D4D4D4 solid 1px;
}

.discussion-info-container > div:first-child{
    padding-left: 0;
}

.discussion-info-container > div:last-child{
    padding-right: 0;
    border-right: none;
}