.textarea-tag-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-height: 400px;
}

.textarea-tag{
    background-color: var(--color-main-medium);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: var(--border-radius);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    white-space: nowrap;
    padding-left: var(--basic-padding);
    color: var(--color-white);
    height: var(--basic-height);
    width: calc(100% - var(--basic-padding))
}

.textarea-tag-container > div > textarea{
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-top: none;
}