.discussion-list-item-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 5px;
  width:100%;
  height: auto;
  text-align: left;
  font-family: Arial;
}

.discussion-list-item-container:hover{
  cursor: pointer;
}

.info-main{
  width: 100%;
  font-size: 20px;
  font-weight: bold;
}