.textbox-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: var(--basic-height);
}

.textbox-tag{
    background-color: var(--color-main-medium);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: var(--border-radius);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    white-space: nowrap;

    padding-right: var(--basic-padding);
    padding-left: var(--basic-padding);

    color: var(--color-white);

    width: auto;
}

.textbox-container > input{
    border-left: none;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
