.discussion-info-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: calc(var(--basic-padding) * 0.35);
}

.discussion-info-container > div{
}

.discussion-info-container > div> div{
    padding-left: var(--basic-padding);
    padding-right: var(--basic-padding);
    border-right: var(--color-sec-light) solid var(--border-width);
}

.discussion-info-container > div:first-child > div{
    padding-left: 0;
}

.discussion-info-container > div:last-child > div{
    padding-right: 0;
    border-right: none;
}

.tag-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.tag{
    color: var(--color-main-medium);
    font-weight: bold;
    border: solid var(--color-main-medium) calc(var(--border-width) * 2);
    border-radius: 15px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: calc(var(--basic-padding)*0.75);
    padding-right: calc(var(--basic-padding) * 0.75);
    margin-right: calc(var(--basic-padding) * 0.25);
    font-size: 11pt;
}