.checkbox-group-container{
    display: flex;
    flex-direction: column;
}

.checkbox-group-name-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    height: var(--basic-height);
    background-color: var(--color-main-medium);
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
}

.checkbox-group-name{
    color: white;
    width: 100%;
    text-align: left;
    padding-left: var(--basic-padding);
}

.checkbox-group-content-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--color-white);
}