.discussion-list-item-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: calc(100% - var(--basic-padding) - var(--border-width));
  height: auto;
  text-align: left;
}

.discussion-list-item-container:hover{
  cursor: pointer;
}

.discussion-list-item-title{
  color: var(--color-sec-dark);
}